body {
    padding: 10px;
}

.listing {
    padding: 10px 12px;
    border: 1px solid #cccccc;
    display: flex;  
    margin: 4px;
}


.listing_info {
    flex:1;
    padding: 10px;
    padding-left: 5%;
}
h2 {
    font-weight: 600;
}
.listing:hover{
    background-color: #cccccc;
}

.warning {
    font-weight: bold;
    font-size: 40px;
    color:red;
}
