{% extends "auctions/layout.html" %}

{% block body %}


    {% if user.is_authenticated %}
    <h2>Create listing</h2>
    <form action="{% url 'createlisting' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <input class="form-control" type="text" maxlength="50" name="title" placeholder="Title">
        </div>
        <div class="form-group">
            <textarea class="form-control" type="text" maxlength="200" name="description" placeholder="description"></textarea>
        </div>
        <div class="form-group">
            <input class="form-control" type="number" name="starting_bid" placeholder="starting bid">
        </div>
        <div class="form-group">
            Image:  <input type="file" name="image" id="image">
        </div>
        <input class="btn btn-primary" type="submit" value="List Item">
    </form>
     {% elif warning %}
        <div class="warning">{{ warning }}</div>
     {% endif %}


{% endblock %}