{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    
    {% for listing in listings %}
        <div class="listing" onclick="location.href='{% url 'listing' listing.id %}';" style="cursor: pointer;">
            {% if listing.image %}
                <img src="{{ listing.image.url }}" width = "400" class="listing_image">
            {% endif %}
            <div class="listing_info">
                <h3><b>{{ listing.title }}</b></h3>
                <h4><b>Current Price:</b>${{listing.starting_bid}}</h4>
                <h4>{{ listing.description }}</h4>
                <div class="listing_footer">
                    Created:{{ listing.created_at|date:"M d, Y H:i" }}
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}      